@using Microsoft.Extensions.Options
@{
    ViewData["Title"] = ViewBag.WebsiteName;
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.WebsiteName</h1>
    <input type="button" value="退出登录" class="out">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $('.out').click(function () {
        $.ajax({
            url: '/Api/User/SignOut',
            type: 'post',
            data: null,
            success: function (res) {
                location.reload();
            },
            error: function (err) {
                layer.msg("连接服务器失败！");
            }
        });
    });
</script>
